<div class="login rtl container-fluid">
    <div class="login__frame">
        <div class="login__image">
            <img class="login__pic" src="../../../assets/images/login.png">
        </div>
        <form #loginForm = "ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="login__inputs">
                <div class="">
                    <label class="login__label">البريد الالكتروني:</label>
                    <input class="form-control public-input" name="email" [ngClass]="{'border-invalid':isInvalid}" ngModel required/>
                    <span *ngIf="isInvalid" class="public-invalid">معلومات مطلوبة</span>
                </div>
                    <label class="login__label">كلمه المرور:</label>
                <div class="login__password">
                    <app-password-input [showPassword]="showPassword" [isInvalid]="isInvalid" (model)="getPassword($event)"></app-password-input>
                </div>
                <div class="text-center">
                    <button class="butt" >تسجيل دخول</button>
                    <button class="butt" type="button" [routerLink]="['/register']" >انشاء حساب</button>
                </div>
            </div>
        </form>
    </div>
</div>
