<div class="public-relative">
    <input class="form-control public-input" name="password" [type]="showPassword ? 'password': 'text'" #password="ngModel" ngModel #password (keyup)="getModel(password)" [ngClass]="{'border-invalid':isInvalid || (password.invalid && password.touched)}"required/>
    <span class="eye-icon" *ngIf="!showPassword" (click)="showPassword = !showPassword"><mat-icon aria-hidden="false" aria-label="Example visibility icon">visibility</mat-icon></span>
    <span class="eye-icon" *ngIf="showPassword"   (click)="showPassword = !showPassword"><mat-icon aria-hidden="false" aria-label="Example visibility_off icon">visibility_off</mat-icon></span>
    <span *ngIf="isInvalid || (password.invalid && password.touched)"  class="public-invalid">معلومات مطلوبة</span>
</div>
