.butt{
    background-color: $secondary-color;
    padding: 7px 15px;
    border: solid 1px $secondary-color !important;
    border-radius: 5px;
    color: $main-color;
    margin: 15px 10px;
    transition: all .3s;

    &:hover{
        background-color: $main-color;
        color:$secondary-color;
    }
    &:active{
        border: none !important;
        outline: none;
        box-shadow: none;
    }
    &:disabled{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }
}

